* {
  margin: 0;
  padding: 0;
  font-family: 'raleway', sans-serif;
}

.whole {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px 20px;
  margin: 10px;
  margin-top: 80px;
}

.project-section {
  line-height: 0.8rem;
  border: 2px solid teal;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}

.project-section img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-title-edit {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.project-title-edit .project-title {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bold;
  color: rgb(100, 100, 225);
}

.project-edit {
  position: relative;
}

.project-edit .edit {
  color: rgb(132, 127, 127);
  font-size: 20px;
  cursor: pointer;
}

.project-edit .delete {
  color: red;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.project-content .project-author {
  font-size: 13px;
  font-weight: bold;
}
.project-title-edit .project-title {
  font-size: 16px;
}

.edit:hover + .confirm-edit {
  position: absolute;
  top: -100%;
  left: -10%;
  color: rgb(132, 127, 127);
  opacity: 1;
}

.delete:hover + .confirm-delete {
  position: absolute;
  top: -100%;
  left: -50%;
  color: red;
  opacity: 1;
}

.confirm-edit {
  position: absolute;
  transition: 0.31s;
  top: -100%;
  left: -10%;
  color: rgb(136, 129, 129);
  opacity: 0;
}

.confirm-delete {
  position: absolute;
  transition: 0.31s;
  top: -100%;
  left: -50%;
  color: red;
  opacity: 0;
}

.project-date {
  font-size: 11px;
  text-transform: lowercase;
  margin: 5px 0 5px 0;
  color: rgb(100, 100, 225);
}

.project-content {
  margin-bottom: 5px;
  color: rgb(100, 100, 225);
}

.project-content-text::first-letter {
  font-size: 25px;
  color: rgb(100, 100, 225);
  font-weight: bold;
  margin-left: 15px;
}
.project-content-text {
  color: rgb(100, 100, 225);
  font-size: 12px;
  line-height: 1.2rem;
}

/* ======  Small device like phone  ====== */

@media screen and (max-width: 600px) {
  .whole {
    margin-top: 65px;
  }

  .project-section {
    border: 2px solid teal;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
  }

  .project-section img {
    width: 100%;
  }
}
