* {
  margin: 0;
  padding: 0;
}

.about-container {
  margin: 10px;
  margin-top: 75px;
}
.about-main {
  margin-bottom: 50px;
}

.about-main p::first-letter {
  font-size: 40px;
  font-weight: bold;
  margin-left: 20px;
}
.about-main span {
  font-weight: bold;
  font-size: 17px;
  text-transform: none;
  color: rgb(142, 116, 169);
}

.about-main img {
  width: 10%;
  height: 10%;
  object-fit: cover;
  border-radius: 5px;
  float: left;
  margin-bottom: 5px;
  margin-right: 10px;
}

.about-content {
  margin-top: 20px;
}

.about-content p::first-letter {
  font-size: 50px;
  font-weight: bold;
  margin-left: 20px;
}

.about-aim-admin {
  display: flex;
  margin-top: 20px;
  position: relative;
}

.aim-admin {
  display: flex;
}

.about-aim,
.about-admin {
  width: 49%;
}

.about-aim-admin h2 {
  color: rgb(143, 116, 169);
}

.about-aim-admin li {
  margin: 30px 5px 10px 20px;
}

.about-aim-admin li::marker {
  color: rgb(143, 116, 169);
}

.about-aim-admin img {
  width: 35rem;
  height: 48rem;
  object-fit: cover;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .aim-admin {
    display: flex;
  }

  .about-main img {
    width: 15%;
    height: 15%;
  }

  .about-aim-admin {
    display: flex;
    flex-direction: column;
  }
  .about-aim-admin img {
    width: 100%;
    height: 30rem;
  }
  .about-aim,
  .about-admin {
    width: 100%;
  }
}

/* ======  Small device like phone  ====== */

@media screen and (max-width: 600px) {
  .about-container {
    margin-top: 55px;
  }

  .about-main img {
    width: 20%;
    height: 20%;
  }

  .about-aim-admin img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 15rem;
  }
  .about-aim,
  .about-admin {
    width: 100%;
  }

  h2 {
    font-size: 17px;
  }
}
