* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 220, 231);
}

.ourservice-container {
  margin-top: 65px;
  text-transform: capitalize;
}

.head {
  display: flex;
  align-items: center;
  position: relative;
}

.titleTog {
  color: rgb(16, 16, 83);
  position: absolute;
  right: 45%;
}

.titletogged {
  color: lightgoldenrodyellow;
  position: absolute;
  right: 45%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 15px;
  padding: 20px;
}

.card {
  padding: 10px;
  border: 3px solid #00cc99;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 5px 5px #00cc99;
}

.card-icon {
  margin-top: 10px;
  color: rgb(28, 28, 91);
  margin: 10px 0;
  font-size: 32px;
}

.card-icon-dark {
  margin-top: 10px;
  color: #00cc99;
  margin: 10px 0;
  font-size: 32px;
}

.card-title {
  font-size: 21px;
  margin-top: 5px;
  color: rgb(28, 28, 91);
}

.card-title-dark {
  font-size: 21px;
  margin-top: 5px;
  color: #999292;
}

.text {
  font-size: 14px;
  padding: 10px;
  color: rgb(28, 28, 91);
}

.text-dark {
  font-size: 14px;
  padding: 10px;
  color: #999292;
}

.link {
  text-decoration: none;
  display: inline-block;
  transition: 0.31s;
  font-size: 18px;
  padding: 10px 0;
  color: rgb(28, 28, 91);
}

.link-dark {
  text-decoration: none;
  display: inline-block;
  transition: 0.31s;
  font-size: 18px;
  padding: 10px 0;
  color: #999292;
}

.card a:hover {
  text-shadow: 5px 5px #00cc99;
}

.card a:active {
  scale: 120%;
}

.body {
  width: 30%;
  display: flex;
  margin: 20px;
  align-items: center;
}

.box {
  background-color: rgb(0, 0, 0);
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px;
  padding: 2px 20px 2px 2px;
}

.boxtog {
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 10px;
  padding: 2px 2px 2px 20px;
}

.tog {
  background-color: rgb(231, 237, 240);
  width: 20px;
  height: 20px;
  border-radius: 30px;
}

.togged {
  background-color: rgb(3, 3, 33);
  width: 20px;
  height: 20px;
  border-radius: 30px;
}

.light {
  color: black;
  font-weight: bold;
}
.lightOpt {
  color: rgb(75, 74, 74);
  font-weight: bold;
}

.dark {
  color: rgb(181, 178, 178);
  font-weight: bold;
}
.darkOpt {
  color: white;
  font-weight: bold;
}

/* ======  Small device like phone  ====== */

@media screen and (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }

  .ourservice-container {
    margin-top: 45px;
  }
  .head h1 {
    position: absolute;
    right: 10%;
    font-size: 20px;
  }

  .card p {
    line-height: 1.5rem;
    font-size: 17px;
  }
}
